@{
    ViewData["Title"] = "Lectures";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Add new Lecture</a>
    <a asp-action="Detail" class="btn btn-secondary">Detail Lectures</a>
</p>

