@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to University lectures</h1>
    <p>Register and control the lectures of your university</p>
</div>
